<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{{ title }}</title>

    <link rel="shortcut icon" href="/images/favicon.svg" />
    <link rel="stylesheet" href="/main.css?v=14" />
    <link rel="stylesheet" href="/fonts.css" />

    <script src="/scripts/main.js" defer></script>
    <script src="/locales/i18n.js" defer></script>
    <script src="/scripts/comicsManager.js" defer></script>
    <script src="/scripts/languageSwitcher.js" defer></script>

    {% if pageStyle %}
    <style>{{ pageStyle | safe }}</style>
    {% endif %}

    {% if pageScript %}
    <script>{{ pageScript | safe }}</script>
    {% endif %}
  </head>

  <body>
    {% include "header.njk" %}

    {% if socialMedia %}
    <div id="socialMediaIcons">
      <a class="buttonIcon" href="https://discord.gg/wFRM6daVBd" target="_blank">
        <img src="/images/platforms/discord.svg" alt="discord" />
      </a>
    </div>
    {% endif %}

    {% if titleBlock %}
    <div id="title">
      <a id="titleImageContainer" href="/"><img id="titleImage" src="/images/TF2TP_logo.svg" /></a>
    </div>
    {% endif %}

    <div id="main" style="margin-top: {{ marginTop | default('5vh') }}">
      <a name="top"></a>
      <div id="centerColumn">
        <div class="boxshadowBox">
          <div id="primaryHeaderArea">
            <div id="logoLink">
              <a href="/">
                <img id="headerAreaImage" src="{{ headerLogo | default('/images/Logo_TF2_flat.svg') }}" />
              </a>
            </div>
            {% include "nav.njk" %}
          </div>

          <div id="centerColContent">
            {{ content | safe }}
          </div>

        </div>
      </div>
    </div>

    {% include "footer.njk" %}

    {% if markdownTag %}
    <script src="https://cdn.jsdelivr.net/gh/MarketingPipeline/Markdown-Tag/markdown-tag.js"></script>
    {% endif %}
  </body>
</html>
