{# =====================================================
   header.njk
   Contient :
   - La barre d'avertissement WIP
   - Le sélecteur de langue
   - music player
   ===================================================== #}

<p class="warning" id="WIPText" data-i18n="WIPText">
  ⚠️ THIS WEBSITE IS UNDER CONSTRUCTION! ⚠️ CSS IS HARD PLEASE HELP ME !
</p>

<div id="language-container">
  <div class="dropdown" id="language-dropdown">
    <button id="selectedItem" lang-selection="en">
      <img src="https://cdn.countryflags.com/thumbs/united-kingdom/flag-800.png" />
      English
      <span class="arrow-down"></span>
    </button>

    <div class="dropdown-content" id="select-container">
      <ul>
        <li lang-selection="en">
          <img src="https://cdn.countryflags.com/thumbs/united-kingdom/flag-800.png" />
          English
        </li>
        <li lang-selection="fr">
          <img src="https://cdn.countryflags.com/thumbs/france/flag-800.png" />
          Français
        </li>
        <li lang-selection="kr">
          <img src="https://cdn.countryflags.com/thumbs/south-korea/flag-800.png" />
          한국어
        </li>
        <li lang-selection="tr">
          <img src="https://cdn.countryflags.com/thumbs/turkey/flag-800.png" />
          Türkçe
        </li>
        <li lang-selection="sw">
          <img src="https://cdn.countryflags.com/thumbs/sweden/flag-800.png" />
          Svenska
        </li>
        <li lang-selection="fi">
          <img src="https://cdn.countryflags.com/thumbs/finland/flag-800.png" />
          Suomi
        </li>
        <li lang-selection="es">
          <img src="https://cdn.countryflags.com/thumbs/spain/flag-800.png" />
          Español
        </li>
        <li lang-selection="de">
          <img src="https://cdn.countryflags.com/thumbs/germany/flag-800.png" />
          Deutsch
        </li>
        <li lang-selection="pl">
          <img src="https://cdn.countryflags.com/thumbs/poland/flag-800.png" />
          Polski
        </li>
        <li lang-selection="cs">
          <img src="https://cdn.countryflags.com/thumbs/czech-republic/flag-800.png" />
          Čeština
        </li>
        <li lang-selection="it">
          <img src="https://cdn.countryflags.com/thumbs/italy/flag-800.png" />
          Italiano
        </li>
      </ul>
    </div>
  </div>
   <div id="musicPlayer">
        <div>
            <p id="musicPlayerTitle"></p>
            <div id="musicPlayerButtons">
                <button id="buttonPrev">
                    <img src="images/prev.svg" alt="Select previous track" onclick="prevTrack()" id="prevMusicImg">
                </button>
                <button id="pauseMusicButton" onclick="playPauseMusic()">
                    <img src="images/pause.svg" alt="Pause the music" id="pauseMusicImg">
                </button>
                <button id="buttonNext">
                    <img src="images/next.svg" alt="Select next track" onclick="nextTrack()" id="nextMusicImg">
                </button>
            </div>
            <input type="range" id="volume">
        </div>
    </div>
</div>
<script src="/scripts/music-player.js"></script> 
</div>
