---
title: "Test 11ty"
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
</head>
<body>
  <h1>{{ title }}</h1>
  <p>Si tu vois cette page dans l'onglet Actions → Artifacts, 11ty fonctionne !</p>
  <p>Build effectué le : {{ page.date }}</p>
</body>
</html>
