{# =====================================================
   footer.njk
   Footer commun à toutes les pages
   ===================================================== #}

<footer id="footer">
  <div class="boxshadowBox">
    <div id="footerContainer">

      <a id="footerLogo" class="imageLink" target="_blank" href="Drunswebsite">
        <img src="/images/druns.png" alt="DRUNs" />
      </a>

      <div id="footerText">
        <p id="footerInfo">
          Valve, the Valve logo, Steam, the Steam logo, Team Fortress, and
          the Team Fortress logo are trademarks and/or registered trademarks of
          <a target="_blank" href="https://www.valvesoftware.com/">Valve Corporation</a>.
          Team Fortress 2 Translation Project and Team Fortress 2 Translation
          Tool-Kit are fan creations and are not affiliated with Valve Corporation.
        </p>

        <div id="footerLinks">
          <ul>
            <li><a id="contact"      href="/contact">Contact</a></li>
            <li><a id="privacy"      href="/privacy.txt">Privacy</a></li>
            <li><a id="attributions" href="/attributions">Attributions</a></li>
            <li><a id="translationPage" href="/translationpage.html">Super secret translation page</a></li>
          </ul>
        </div>

        <p id="footerVersion">Site v0.6.0 • Kit v0.3.5</p>
      </div>

    </div>
  </div>
</footer>
