---
layout: base.njk
title: Attributions
activePage: attributions
permalink: /attributions.html
---

<div class="textSubject">
  <img src="/images/blurbImages/menu-yeti.png" />

  <h1>Attributions</h1>
  <p>
Thanks to all the community. <br>
The kit aims for openneness and efficiency in it's software choices. Though some choices had to be made. 
The kit was mainly done using photoshop.
Most translations were made on <a href="https://www.photopea.com/">photopea</a> which has the best .psd parser of all softwares and I wish it was more open.
Illustrations were made using <a href="https://www.inkscape.org/">inkscape</a>, and a bit of <a href="https://krita.org/">krita</a>.
The code here was made by hand, with knowledges about html, css and programming, but also with some AI. Take it like you want, but remember the goal is the result for code. I used chatGPT which often told me dumb things, and Claude who wanted to make a GIGA corporate website. And helped fight agains't my mental meltdown by somehow fixing my spaghetti.
I should mention also <a href="https://tf2classic.com/team">tf2classfied</a> and open fortress teams especially the webdevs, because I yanked ideas and stuff you might recognise. 
If you really read this document here is a fun fact for you : In early stages I wanted to name the project TF2:CP for comics project, but I had a second thought after listing all the possible meanings of CP in Internet culture...
  </p>
</div>