---
layout: base.njk
title: Help TF2TP
activePage: help
permalink: /help.html
---

<div class="textSubject">
  <img src="/images/blurbImages/menu-yeti.png" />

  <h1 data-i18n="helpingUs">Helping Us :</h1>
  <p data-i18n="helpingUsText">
    Hi, if you're here it's certainly because you feel like you could help us
    in some way, either you're a translator, or a webdesigner, heck even a
    programmer. But there are many more ways to contribute. Notably reading
    the comics and reporting bugs. Or even, the filthiest one of all ! Posting
    memes in the discord. We would be glad to welcome you there. This is yet
    another TF2 community project, and if you're here, you certainly are part
    of the community ! So you're part of us in a way ! We accept every
    applications for any sets of skills, but we won't accept too much
    translators per languages, as you know, too many cooks spoil the broth,
    and such supper, should be exquisite.
  </p>

  <h1 data-i18n="anyway">ANYWAY !</h1>
  <p data-i18n="helpingUsTextLinks" style="font-size: 5ch">
    Everything is on
    <a target="_blank" href="https://discord.gg/wFRM6daVBd" style="text-decoration: none">
      our discord !!!
    </a>
  </p>
</div>
