---
layout: base.njk
title: TF2 translation projects
activePage: translations
permalink: /moreTranslations.html
markdownTag: true
---

<div class="textSubject">
  <img src="/images/blurbImages/menu-yeti.png" />
  <md>
This page is currently being worked on

# Other translation projects
This pages documents all the other translation project, there are excellent translations out there but there are also some that are more the righteous bison of our soldier loadout. The fact that there are translations out there should refrain us to work on our own.

## French
### [Ghomera](https://ghomera.github.io/)
These are the best french translations out there, Ghomera is one of our translators and he worked mainly on the update comics so make sure to check his work !

### [Numpad0](https://drive.google.com/drive/folders/1x0nandbD7ntBI4SWMfZ9yTVNbtekes0p?usp=drive_link)
Cool tf07 "The days have worn away" translation made by one of our translators with a lot of love for a friend. Contains a few mistakes and inconsistencies.

## Russian
### [A-comics](https://tf2.a-comics.ru/)
The best russian translation, wery well made and very complete

## Spanish
### [Elmanos123](https://www.wattpad.com/story/256206360-tf2-comics)
Very complete european spanish translation lacks all comics after Blood in the water, has a few update comics.

### [5000_D3M0N](https://www.wattpad.com/story/308770854-%E1%B4%9B%E1%B4%87%E1%B4%80%E1%B4%8D-%EA%9C%B0%E1%B4%8F%CA%80%E1%B4%9B%CA%80%E1%B4%87%EA%9C%B1%EA%9C%B1-2-%E1%B4%84%E1%B4%8F%E1%B4%8D%C9%AA%E1%B4%84-%E1%B4%8F%EA%9C%B0%C9%AA%E1%B4%84%C9%AA%E1%B4%80%CA%9F-%E1%B4%84%E1%B4%8F%E1%B4%8D%E1%B4%98%CA%9F%E1%B4%87%E1%B4%9B%E1%B4%8F-%E1%B4%87%C9%B4-%E1%B4%87%EA%9C%B1%E1%B4%98%E1%B4%80%C3%B1%E1%B4%8F%CA%9F)
Another very furnished american spanish translation

### [TF2 amino España](https://aminoapps.com/c/team-fortress-2-en-espanol/page/user/who/z6YG_W7kIgf06wLerbqJ1j57MEoZlkrveME)
A quite complete translation that hase some graphical issues such as compression and poor font choice.

### [TF2 Traducido]()
Randomly translated pages of a very good quality on facebook
  </md>
</div>
