---
layout: base.njk
title: Privacy
activePage: privacy
permalink: /privacy.html
---

<div class="textSubject">
  <img src="/images/blurbImages/menu-yeti.png" />

  <h1>Privacy</h1>
  <p>
This website doesn't use any cookies, not a single one... sorry... the oven is broken. 
The website only stores your language preferences in your local storage so you don't have to select your language each time you click on a page.
This is everything there is to say... You should probably do something else than click on footer's link, there is nothing to see there, nothing entertaining and moreover nothing SUPER secret.
  </p>
</div>